.primary_btn {
    padding: 16px 12px;
    background-color: #007bff; /* A medical blue color */
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 200px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .primary_btn:hover {
    background-color: #0056b3; /* A darker shade of blue for hover effect */
  }
  
  .outline_btn {
    padding: 16px 12px;
    border: 2px solid #007bff; /* Match the border with the primary button color */
    color: #007bff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 200px;
    font-size: 16px;
    justify-content: center;
    background-color: white;
    transition: color 0.3s ease, border-color 0.3s ease;
  }
  
  .outline_btn:hover {
    color: #0056b3; /* Match hover color with the primary button */
    border-color: #0056b3;
  }
  